<p>AppComponent è la classe padre di del componente figlio</p>
<p>sto passando al figlio l array con i numeri romani</p>
<app-figlio [romanarray]="romanarray"></app-figlio>

<p>questo è tutto ò'array dei numeri romani</p>
<div class="arrayIntero" *ngFor="let str of romanarray">
  <p class="mx-5">{{ str }}</p>
</div>

<p>array dei numeri romani pari</p>
<div class="arrayIntero" *ngFor="let str of romanarray; let i = index">
  <p class="mx-5" *ngIf="i % 2 != 0">{{ str }}</p>
</div>
