<p>figlio works!</p>
<app-padre (output)="onEvent($event)"></app-padre>

<p>questo è l'array di dispari</p>
<div class="arrayDiValoriDispari" *ngFor="let str of romanarray; let i = index">
  <p class="mx-5" *ngIf="i % 2 != 0">
    {{ str }}
  </p>
</div>
